body {
    font-family: Arial, Helvetica, sans-serif;
}

.side {
    padding: 10px;
    margin-right: 0px;
    box-shadow: 0 0 7px #b0b0b0;
    border-radius: 0 0 0 5px;
}

#header {
    background-image:url(%%BannerLoopable%%);
    background-position: center;
    height: 122px;
    border-color: #000000;
    box-shadow: 0 0 7px #b0b0b0;
}

#header-bottom-left, #header-bottom-right {
    background: rgba(255, 255, 255, 0.9);
    bottom: 0;
    position: absolute;
    padding: 3px;
    border-width: 1px;
}

#header-bottom-left {
    float: left;
    border-radius: 0 10px 0 0;
    border-top-style: solid;
    border-right-style: solid;
    padding-bottom: 0;
}

#header-bottom-right {
    float: rigth;
    border-radius: 7px 0 0 0;
    border-top-style: solid;
    border-left-style: solid;
}

.default-header, .pagename{
    margin-bottom: 3px;
}

.tabmenu {
    display: block;
    padding-bottom: 1px;
}

.tabmenu li.selected a {
    border-color: #000000;
}

.tabmenu li a {
    background-color: transparent;
    padding-bottom: 1px;
    border-radius: 3px 3px 0 0;
}

.sitetable {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 330px;
}

.link, .comment {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 7px #b0b0b0;
}

.link {
    padding: 10px;
}

.comment {
    padding: 7px;
    margin-bottom: 10px;
}

.link .title { 
    padding-bottom: 5px;
}

.content {
    margin-left: 0px; 
}

.sitetable .md {
    background: #ffffff;
    border: 0;
    border-radius: 4px;
}

.child {
    display: none !important;
}

.nub {
    display: none;
}

/* No ads for Reddit :) */
.premium-banner-outer {
    display: none;
}

/* replace the urls with actual image file locations */
/*
Normally, the button is a still image, but on mouse hover, it moves
.expando-button {
    background-image: url(expandoButton.png);
    background-size: cover;
	background-repeat: no-repeat;
}
.expando-button:hover {
    background-image: url(expandoButton.gif)
    background-size: cover;
    background-repeat: no-repeat;
}
*/
/*
.arrow.up {
    background-image: url(upvote.png)
    background-size: cover;
    background-repeat: no-repeat;
}
.arrow.down {
    background-image: url(downvote.png)
    background-size: cover;
    background-repeat: no-repeat;
}
.arrow.upmod {
    background-image: url(upvoted.png)
    background-size: cover;
    background-repeat: no-repeat;
}
.arrow.downmod {
    background-image: url(downvoted.png)
    background-size: cover;
    background-repeat: no-repeat;
}
*/

